name: Monkeys

on:
  workflow_dispatch:
    inputs:
      target:
        description: Text for the monkeys
        required: true
      threads:
        description: Number of monkeys
        required: false
        default: '1'
      runner:
        description: Runner environment
        required: true
        type: choice
        options:
          - ubuntu-latest
          - self-hosted
        default: ubuntu-latest

jobs:
  execute:
    name: Execute
    runs-on: ${{ inputs.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build
      - run: npm link
      - run: monkeys --target ${{ inputs.target }} --threads ${{ inputs.threads }}
